{% import "macros.njk" as macro with context %}

<!doctype html>
<html lang="en">
  <head>
    <title>{{ macro.title(title) | trim }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ macro.description(content) | trim }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ macro.title(title) | trim }}">

    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body class="bg-white container flex flex-col mx-auto min-h-screen px-md {% if bodyClass %}{{ bodyClass }}{% endif %}">
    <header class="flex items-start justify-between my-lg relative">
      {% include "header.njk" %}
    </header>

    <main class="col-span-12 md:col-span-9">
      {{ content | safe }}
    </main>

    <footer class="grid grid-cols-12 text-sm">
      {% include "footer.njk" %}
    </footer>

  <script>
  if (navigator.serviceWorker && !["dev"].includes("{{site.environment}}")) {
    window.addEventListener("load", function() {
      navigator.serviceWorker.register('/service-worker.js', {
        scope: '/'
      });

      if (navigator.serviceWorker.controller) {
        navigator.serviceWorker.controller.postMessage({
          "command": "trimCaches"
        });
      }
    });
  }
  </script>
  </body>
</html>
